/* HTML tag's should go here */
html {
  font-family: Helvetica, sans-serif;
}
body {
  margin: 0;
}
form {
    display: inline-block;
    margin: 1em;
}

/* Classes should go here */
.heading {
	position: fixed;
  	right: 0;
  	left: 0;
  	max-height: 340px;
}
.heading-content {
    width: 100%;
    position: fixed;
    display: inline-block;
    top: 10px;
    height: 100px;
    /*margin-top: 10px*/
}
.content {
    width:960px;
    background: #F0F0F0;
    border: 1px solid #CCC;
    margin: 100px auto;
    border-radius: 4px;
}
.login-box {
    height: 24px;
}

.center-block {
  	display: block;
  	margin-right: auto;
	margin-left: auto;
}
.search {
    padding-left: 20px;
    display: inline;
}
.search-box {
    width: 200px;
    height: 20px;
}
.login {
    display: inline;
}
.sidebar {
    width: 20%;
}

.pull-right {
    float: right !important;
}
.pull-left {
    float: left !important;
}
.hide {
    display: none !important;
}
.show {
    display: block !important;
}
.invisible {
    visibility: hidden;
}
.button {
  	display: inline-block;
  	padding: 6px 12px;
  	margin-bottom: 0;
  	line-height: 1.42857143;
  	text-align: center;
  	white-space: nowrap;
  	vertical-align: middle;
	background-image: none;
  	border: 1px solid transparent;
 	border-radius: 4px;
}

/* ID's should go here */
#search {
    background: url(../images/icons/glyphicons_027_search.png) no-repeat center;
    height: 24px;
    text-indent: -9999px;
    width: 24px;
}
#login {
    background: url(../images/icons/glyphicons_151_new_window.png) no-repeat center;
    height: 24px;
    text-indent: -9999px;
    width: 24px;
}
#logo {
    background: url(../images/logo.png) no-repeat center;
    float: left;
    height: 100px;
    text-indent: -9999px;
    width: 389px;
    margin-top: -20px;
}
