html {
  font-family: sans-serif;
}
body {
  margin: 0;
}
.heading {
	position: fixed;
  	right: 0;
  	left: 0;
  	max-height: 340px;
}
.center-block {
  display: block;
  margin-right: auto;
  margin-left: auto;
}
.pull-right {
  float: right !important;
}
.pull-left {
  float: left !important;
}
.hide {
  display: none !important;
}
.show {
  display: block !important;
}
.invisible {
  visibility: hidden;
}